<div class="main-wrapper">
  <div class="buttons-filled">
    <alvys-button-filled (onClick)="handleClick()">
      <div class="button-icon-wrapper">
        <span>Button</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
    </alvys-button-filled>
    <alvys-button-filled [disabled]="true">Button</alvys-button-filled>
    <alvys-button-filled size="small">Button</alvys-button-filled>
  </div>
  <div class="buttons-outlined">
    <alvys-button-outlined>Button</alvys-button-outlined>
    <alvys-button-outlined [disabled]="true">Button</alvys-button-outlined>
    <alvys-button-outlined size="small" color="warn"
      >Button</alvys-button-outlined
    >
  </div>
  <div class="buttons-text">
    <alvys-button-text color="accent">Button</alvys-button-text>
    <alvys-button-text [disabled]="true">Button</alvys-button-text>
    <alvys-button-text size="small">Button</alvys-button-text>
  </div>
</div>
